{erl_opts, [debug_info, warn_unused_vars, warn_shadow_vars, warn_export_all]}.
{deps, [
  %% git refs keep old Guix rebar3 happy. hex metadata did not.
  {cowboy, {git, "https://github.com/ninenines/cowboy.git", {ref, "72d5f6c01204ad6b2f0acffcded9417c944b6b6c"}}},
  {cowlib, {git, "https://github.com/ninenines/cowlib.git", {ref, "d33876eddd3062f3f748e4879b0efe3990afdc73"}}},
  {ranch, {git, "https://github.com/ninenines/ranch.git", {ref, "70ae2ff5d5f5740a60b3d68a5898be3edf4e4802"}}},
  {jsx, "3.1.0"},
  {epgsql, "4.8.0"}
]}.
{shell, [{apps, [plainwire_relay]}]}.
{relx, [
  {release, {plainwire_relay, "1.7.2-1"}, [plainwire_relay, sasl]},
  {dev_mode, false},
  {include_erts, true},
  {extended_start_script, true}
]}.

%% Optional build only. Default deployments do not download or start Partisan.
{profiles, [{cluster, [
  {deps, [{partisan, {git, "https://github.com/lasp-lang/partisan.git", {ref, "45474ceb710dafa91a4af2dc87b34512354f6ba8"}}}]},
  {relx, [{release, {plainwire_relay, "1.7.2-1"}, [plainwire_relay, sasl, {partisan, load}]}]}
]}]}.
